body {
    color: rgb(0, 66, 0);
    background: rgb(194, 199, 192);
    margin: 0px;
    font-family: "Miltonian", sans-serif;
}

header{
    border-bottom: solid 2px rgb(43, 131, 43);
    padding: 20px;
    font-size: 32px;
    color:rgb(30, 124, 30)
}
.chamada {
    background: rgb(102, 134, 102);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}